# --------------------------------------------------------------------------------
# Folders
# --------------------------------------------------------------------------------
alias ..="cd .."
alias la="ls -lae"
alias ll="ls -l"
alias l="ls -lA"

# --------------------------------------------------------------------------------
# Misc
# --------------------------------------------------------------------------------
alias h="history"
alias kernels='echo "Current kernel is `uname -r`";echo;echo "All kernels:";echo;dpkg -l | grep linux-image;echo;echo;echo "Now: sudo purge-old-kernels"'
alias myproc="ps --forest -u steve -o pid,comm,cmd,cputime,pcpu,start,etime"
alias space="du --max-depth=1 -c -h"
alias tree="ls -R | grep ":$" | sed -e 's/:$//' -e 's/[^-][^\/]*\//--/g' -e 's/^/   /' -e 's/-/|/'"
alias version='lsb_release -a'

# --------------------------------------------------------------------------------
# Git
# --------------------------------------------------------------------------------
alias ga='git add '
alias gb='git branch '
alias gc='git commit'
alias gco='git checkout '
alias gd='git diff'
alias ghist='git hist '
alias gp='git pull '
alias gr='git remote '
alias gs='git status '

# --------------------------------------------------------------------------------
# Anaconda / Jupyter / Python
# --------------------------------------------------------------------------------
alias anav="anaconda-navigator"
alias jn="jupyter notebook"

alias localhost="python3 -m http.server"

# --------------------------------------------------------------------------------
# ffmpeg
# --------------------------------------------------------------------------------
alias ffmpeg_concat="ffmpeg -f concat -i clips -c copy clips.mp4"
