[alias]
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
	br = branch
	co = checkout
	ci = commit
	cm = commit -m
	cam = commit -a -m
	gl = config --global -l
	ll = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	last = log -1 HEAD --stat
	rv = remote -v
	st = status -sb
[user]
	email = Steve.Mosen+github@gmail.com
	name = Steve Mosen
[color]
	ui = auto
